// @import "~normalize.css";
@import 'fonts';
// @import 'reset';
@import 'vars';
// @import 'libs';
@import 'global';


.content{
    will-change: transform;
}
.header {
    position: relative; 
}
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
		// .layers__header

		&__header {
         z-index: 1;
         transform: translate3d(0, calc(var(--scrollTop)/2),0);
         text-transform: uppercase;
         font-weight: 900;
         color: #e7e7d0;
         text-shadow: 0 0 15px #9e7d30;
         will-change: transform;
		}

		// .layers__caption

		&__caption {
            font-size: calc(#{$index} / 1.1);
            letter-spacing: calc(#{$index} / 3.5);
            margin-top: calc(#{$index} * -.75);
        
		}

		// .layers__title

		&__title {
            font-size: calc(#{$index} * 2.5);
            letter-spacing: calc(#{$index} / 2.2);
        }

        // .layers__middle

		&__middle {
            background: url(../images/layer-middle.png) center;
            min-height: 100vh;
            transform: translate3d(0, calc(var(--scrollTop)/2.5),0);
            z-index: 2;
            will-change: transform;
		}

		// .layers__base

	    &__base {      
            background: url(../images/layer-base.png) center;
            min-height: 100vh;
            transform: translate3d(0, calc(var(--scrollTop)/1.6),0); 
            will-change: transform;       
        }

		// .layers__front

		&__front {
            background: url(../images/layer-front.png) center;
            min-height: 100vh;
            transform: translate3d(0, calc(var(--scrollTop)/5.7),0);
            z-index: 2;     
            will-change: transform;   
        }
}
.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    // will-change: transform;
}

.article {
    background: url(../images/dungeon.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #e7e7d0;
    position: relative;
    
    // .article__content
    
    &__content {
        position: relative;
        &::after{
            content: "";
            position: absolute;
            z-index: 10;
            width: 100%;
            height: calc(#{$index} * 10);
            background: url(../images/ground.png) center no-repeat;
            background-size: cover;
            bottom: calc(#{$index} * 8.9);
        }
    }
    
    // .article__content-header
    
    &__content-header {
        text-transform: uppercase;
        text-align: center;
        font-size: calc(#{$index} *1.5);
        letter-spacing: calc(#{$index} /3);
        transform: translate3d(0, calc(var(--scrollTop)/7),0);  
        will-change: transform;
    }
    
    // .article__content-text
    
    &__content-text {
        padding: 0 15px;
        margin: 0 auto;
        max-width: calc(#{$index} * 30);
        font-size: calc(#{$index}  / 1.4);
        letter-spacing: calc(#{$index} / 13);
        transform: translate3d(0, calc(var(--scrollTop)/7),0);
        will-change: transform;
    }
}
.footer {
    text-align: center;
    color: #e7e7d0;
    opacity: 0.5;
}






